body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin: 0;
    font-family: sans-serif;
}

/* style header */
header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    gap: 470px;
    
}

.headerLogo {
    color: white;
    font-weight: 600;
    font-size: 23px;
}

.links-header {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 100;
    
}

/* style section 1*/

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
    background-color: #1F2937;
    padding-bottom: 70px;
    padding-top: 70px;
}

.textSec1 {
    width: 400px;
    color: #e5e7eb;;
}

h1 {
    font-size: 48px;
    margin: 0%;
    color: #f9faf8;
}

#imgSec1 {
    width: 500px;
    height: 250px;
}

.topButton {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 7px 35px;
    border-radius: 5px;
    font-weight: 600;
}

/* Style section 2 */

h2 {
    text-align: center;
    padding: 50px;
    margin: 0;
    font-size: 35px;
}

.sec2flex {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px;
}

.imgText {
    width: 175px;
}

.section2 img {
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 10px;
    border: solid;
    border-width: 4px;
    border-color: #3882F6;
}

.section2 p {
    text-align: center;
}

/* Style section 3 */

.section3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.textSec3 {
    display: flex;
    flex-direction: column;
    width: 830px;
    margin-top: 75px;
    margin-bottom: 75px;
}



.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 0;
    color: #1F2937;
}

.quoteSource {
    align-self: flex-end;
    justify-self: end;
    margin-right: 50px;
    font-weight: 900;
    font-size: 20px;

}

/* Styling section 4 */

.section4 {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.contentSec4 {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    gap: 70px;
    width: 1000px;
    height: 109px;
    border-radius: 10px;
}

.textSec4 {
    padding: 20px;
}

.boldText {
    font-weight: 700;
    color: White;
    padding-bottom: 0;
    margin-bottom: 0;
}

.smallText {
    color: #e5e7eb;
    margin-top: 0;
}


.bottomButton {
    background-color: #3882F6;
    color: white;
    border-color: white;
    border: solid;
    border-width: 2px;
    padding: 7px 35px;
    border-radius: 5px;
    height: 40px;
    align-self: center;
    font-weight: 600;
}


