body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
}

.links-header {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

a {
    text-decoration: none;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.textSec1 {
    width: 400px;
}

#imgSec1 {
    width: 400px;
    height: auto;
}